body {
	margin: 0;
	padding: 0;
}
#navigation {
	display: flex;
	height: 5%;
	width: 100%;
	background-color: rgb(223, 109, 16);
	align-content: center;
	justify-content: space-between;
}
#navigation h1 {
	font-family: "RocknRoll One", sans-serif;
	font-size: 5em;
	margin-left: 2em;
	color: honeydew;
}

#menu {
	margin-right: 2em;
	width: 50rem;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

.menuItem {
	font-size: 40px;
	display: block;
	transition: all 0.07s;
	align-content: center;
	list-style: none;
	flex-wrap: wrap;
}

.menuLink {
	font-size: 40px;
	transition: all 0.07s;
	align-content: center;
	list-style: none;
	flex-wrap: wrap;
}

.menuHover {
	font-size: 45px;
	color: black;
}

a {
	color: honeydew;
	text-decoration: none;
}
/*a:hover {
	color: black;
	text-decoration: underline;
}*/
